.img-sobre-mim{
    width: 80px;
    height: 80px;
}
.bg-purple{
    background: purple;
}
.bglilac{
    background: rgb(204, 156, 204);
}
.text-purple{
    color: purple;
}
#group-cifra{
    height: 300px;
}